// theme colors
$main-color: #253570;
$alt-color: #21b3e7;
$main-bg-color: #1c1e53;
$alt-bg-color: #f4f6fc;
$main-font-color: #282938;

// spacing
$section-padding: 6rem;
$sub-section-padding: 3rem;

// other
$main-transition: 0.3s;
